body::-webkit-scrollbar {
  display: none;

}


.App{
  text-align: center;
  font-family: Roboto;
  height: 100vh;
  background-color: rgb(247, 247, 247);
  padding: 40px 20px;
}

h1{
  font-size: 65px;
  color: rgb(37, 103, 255);
  margin: unset;
  margin-bottom: 15px;
}

hr{
  width: 50%;
  border: 1px solid rgb(6, 6, 6, 0.3);
}


.grey-card-container{
  max-width: 725px;
  
  overflow: hidden;
  overflow-y: scroll;
  background-color: white;
  box-shadow: -1px 2px 9px 3px rgba(0,0,0,0.77);
-webkit-box-shadow: -1px 2px 9px 3px rgba(0,0,0,0.77);
-moz-box-shadow: -1px 2px 9px 3px rgba(0,0,0,0.77);
  margin: 30px auto;
  padding: 40px 50px 30px;
  border-radius: 5px;

  
}



.buttons {
  display: flex;
  justify-content: space-between;
}

.view-button {
margin: 10px auto;
background-color: white;
border-radius: 5px;
padding: 10px 20px;
color: rgb(0, 47, 255);
font-family:  'Times New Roman', Times, serif;
font-size: 17px;
box-shadow: -1px 2px 9px 0px rgba(0,0,0,0.77);
-webkit-box-shadow: -1px 2px 9px 0px rgba(0,0,0,0.77);
-moz-box-shadow: -1px 2px 9px 0px rgba(0,0,0,0.77);
border: none;
}

.view-button:hover{
  opacity: 0.8;
}

.active-button{
  background-color: rgb(255, 187, 0);
  color: white;
  border: rgb(255, 187, 0);
}